<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div *ngIf='auth'>
  <router-outlet></router-outlet>
</div>
<h2 *ngIf='!auth'>Login</h2>
<div *ngIf='!auth'>
  <section>
    <p>
      {{err}}
    </p>
  </section>
  <section>
    <form>
      <div>
        <label for="email">Email :</label>
        <input type="text" name="email" [(ngModel)]='email'>
      </div>
      <div>
        <label for="password">Password: </label>
        <input type="password" name="password" [(ngModel)]='password'>
      </div>
    </form>
  </section>

  <button (click)="authenticate()">Submit</button>
<div>


